In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
from datetime import datetime

In [19]:
timestamp = pd.Timestamp(datetime(2020,3,4))

In [20]:
timestamp

Timestamp('2020-03-04 00:00:00')

In [21]:
pd.Timestamp('2020-03-04') == timestamp

True

In [30]:
timestamp.month_name()

'March'

In [29]:
timestamp.day_name()

'Wednesday'

In [31]:
per = pd.Period('2017-01')

In [32]:
per

Period('2017-01', 'M')

In [63]:
per + 2

Period('2017-03', 'M')

## Important to create date range

In [42]:
index = pd.date_range('2017-1-1', periods=365, freq='D')

In [43]:
index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [46]:
index = index.to_period()

In [47]:
df = pd.DataFrame({'data':index})

In [54]:
data = np.random.random(size=365)

In [59]:
df = pd.DataFrame({'date':index,'random': data})

In [61]:
df

           date    random
0    2017-01-01  0.820682
1    2017-01-02  0.637323
2    2017-01-03  0.302995
3    2017-01-04  0.744283
4    2017-01-05  0.975639
..          ...       ...
360  2017-12-27  0.407222
361  2017-12-28  0.397655
362  2017-12-29  0.701184
363  2017-12-30  0.603733
364  2017-12-31  0.957566

[365 rows x 2 columns]